* {
    border: 1px solid red;
}


body {
    margin: 8px;
    display: block;
    background-image: linear-gradient(rgb(241, 160, 150), white)
    
}  

main {
    margin: 30px 75px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.credit {
    font-size: 8px;
}
.banner {
    position: relative;
    text-align: center;
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    color: white;

}
.banner span {
    margin: 0;
    float: right;
}


img {
    width: 50%;
    height: 50%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

#pittsburgh img {
    float: right;
}

#pittsburgh p {
    width: 50%;
    float: left;
}
